<video autoplay muted loop id="myVideo">
    <source src="./../../../assets/videos/Salvapantallas.mp4" type="video/mp4">
  </video>
  
  <div class="limiter">
          <div class="container-login100 content">
              <div class="wrap-login100">
                  <div class="login100-pic js-tilt" data-tilt>
                      <img src="./../../../assets/images/telefonica-vertical.png" alt="Telefónica">
                      <div style="background-color: #0066FF; border-radius: 15px;">
                          <img src="./../../../assets/images/4thPlat.png" alt="Telefónica">
                      </div>
                  </div>
  
                  <form class="login100-form validate-form" (ngSubmit)="login( f )" #f="ngForm">
                      <span class="login100-form-title">
                          Login to Smart4P
                      </span>
  
                      <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                          <input class="input100" type="text" name="email" placeholder="Email" [(ngModel)]="usuario.email" email>
                          <span class="focus-input100"></span>
                          <span class="symbol-input100">
                              <i class="fa fa-envelope" aria-hidden="true"></i>
                          </span>
                      </div>
  
                      <div class="wrap-input100 validate-input" data-validate = "Password is required">
                          <input class="input100" type="password" name="pass" placeholder="Password" [(ngModel)]="usuario.password">
                          <span class="focus-input100"></span>
                          <span class="symbol-input100">
                              <i class="fa fa-lock" aria-hidden="true"></i>
                          </span>
                      </div>
                      
                      <div class="container-login100-form-btn">
                          <button class="login100-form-btn">
                              Login
                          </button>
                      </div>
  
                  </form>
              </div>
          </div>
      </div>
      
      
  
      
  <!--===============================================================================================-->	
      <script src="assets/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
      <script src="assets/vendor/bootstrap/js/popper.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
      <script src="assets/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
      <script src="assets/vendor/tilt/tilt.jquery.min.js"></script>
      <script >
          $('.js-tilt').tilt({
              scale: 1.1
          })
      </script>
  <!--===============================================================================================-->
      <script src="assets/js/main.js"></script>