<!-- Breadcrumbs -->
<app-breadcrumbs [places]="where"></app-breadcrumbs>

<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome back {{ email[0] | uppercase }}{{  email.substr(1, email.indexOf('.')-1) | lowercase }}!</h1>
            <p class="lead">Smart 4P Digital Privacy Framework wants to hear about you, if you have something to share contact us at: <a href="mailto:pablo.serranomanzarbeitia@telefonica.com">our email</a>.</p>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="row">
            <div class="col-3"></div>
                <div class="col-6">
                    <img src="./../../../assets/images/telefonica-vertical.png" style="width:100%" alt="Telefónica"><br>
                    <img src="./../../../assets/images/4thPlat.png" style="width:100%;background-color: #0066FF;border-radius: 15px;" alt="4th Platform"><br>
                </div>
            <div class="col-3"></div>         
        </div>
    </div>

        

</div>
