<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="row">
                <div class="col m-2">ENVIRONMENT</div>
                <div class="col m-2">RELATED</div>
                <div class="col m-2"> 
                    <i class="mdi mdi-mouse"></i>Left click: Display child nodes | 
                    <i class="mdi mdi-mouse"></i>Right click: See node info
                </div>
            </div>
            <hr>
            <div id="map-container" class="card-body" style="height: 90vh">
                <svg id="container" width="svg_width" height="svg_height"></svg>
            </div>
        </div>
    </div>
</div>